* {
  box-sizing: border-box;
}

#canvas1 {
  width: 100vw;
  height: 200vw;
  background: url("redlightgreenlight.png");
  background-repeat: no-repeat;
  position: absolute;
  image-rendering: high-quality;
}
/* .wrapper {
  background-image: url("redlightgreenlight.png");
  background-size: cover;
  height: 1000px;
  width: 100vw;
  background-position: no-repeat;
  position: relative;
} */

.light {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
}

.light.red {
  background-color: red;
  box-shadow: 0 0 20px 5px red;
}
.light.green {
  background-color: green;
  box-shadow: 0 0 20px 5px green;
}
.light.yellow {
  background-color: yellow;
  box-shadow: 0 0 20px 5px yellow;
}

.trafficlight {
  border-radius: 20px;
  background-color: black;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
  margin: 60px;
  height: 150px;
  width: 70px;
}

.light:after {
  border-right: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 3px;
  left: -6px;
  width: 30px;
  height: 25px;
}

.timer {
  height: 31px;
  width: 97px;
  position: absolute;
  left: 62%;
  top: 30%;
  color: maroon;
  text-shadow: 2px 1px black;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
}

button {
  height: 50px;
  width: 60%;
  margin-bottom: 20px;
  border-radius: 25px;
  top: 88%;
  left: 20%;
  position: absolute;
}

#start {
  font-weight: bold;
}

.finishingline {
  height: 2px;
  width: 60%;
  left: 33%;
  background-color: #cd5c5c;
  position: absolute;
  top: 53.5%;
}
