#canvas {
  image-rendering: high-quality;
  background-image: url("tug_of_war.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#rope {
  height: 5px;
  width: 150%;
  left: 0.5%;
  background-color: #d2b48c;
  position: absolute;
  top: 38%;
  border: 1px solid black;
}

#rope::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 1%;
  top: 0%;
  left: 34%;

  background-color: red;
}

button {
  height: 50px;
  width: 40%;
  border-radius: 25px;
  top: 90%;
  left: 30%;
  position: absolute;
  font-weight: bold;
}

#timer {
  font-family: "Silkscreen", cursive;
  color: red;
  font-size: 30px;
  position: absolute;
  right: 46%;
  top: 5%;
}

#win {
  position: absolute;
  display: none;
  color: red;
  font-size: 100px;
  font-family: "Bungee Spice";
  top: 15%;
  left: 40%;
}

#gameOver {
  position: absolute;
  display: none;
  color: red;
  font-size: 100px;
  font-family: "Bungee Spice";
  top: 15%;
  left: 35%;
}

#restart {
  display: none;
}
